<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to_if(can?(:edit, user), "Edit", edit_user_path(user), {:class => "btn btn-info btn-secondary"}) %>
      <% if user.disabled %>
      <!-- , confirm: 'Delete?', class: 'link-delete', 'data-message' => 'Are you sure?', 'data-severity' => 'danger', :remote => true  -->
        <%#= link_to("Renable", renable_user_path(user.id), {:class => "btn btn-info btn-secondary", method: "POST", 'data-message' => 'Are you sure?', 'data-severity' => 'danger', :remote => true}) %>
        <%= link_to("Renable", renable_user_path(user.id), {:class => "btn btn-info btn-secondary", method: "POST", 'data-message' => 'Are you sure?', 'data-severity' => 'danger'}) %>
      <% else %>
        <%#= link_to("Disable", disable_user_path(user.id), {:class => "btn btn-warning btn-secondary", method: "POST", 'data-message' => 'Are you sure?', 'data-severity' => 'danger', :remote => true}) %>
        <%= link_to("Disable", disable_user_path(user.id), {:class => "btn btn-warning btn-secondary", method: "POST", 'data-message' => 'Are you sure?', 'data-severity' => 'danger'}) %>
      <% end %>
      <%= user.email %>
    </li>
  <% end %>
</ul>